<mat-toolbar color="primary" class="header-toolbar">
  <div class="left-section">
    <span class="date">{{ todayDate }}</span>
  </div>

  <div class="right-section">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <span class="user-details">
      {{ user.username }} ({{ user.role }})
    </span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
